<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.locker.manager">

    <application
        android:name=".app.LockerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">

        </activity>

        <meta-data
            android:name="design_width_in_dp"
            android:value="1024" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="600" />

        <activity android:name=".activity.SaveSecondActivity" android:screenOrientation="landscape" />
        <activity android:name=".activity.sender.SenderDeliverActivity" android:screenOrientation="landscape"/>
        <activity android:name=".activity.sender.SenderDeliverSuccessActivity" android:screenOrientation="landscape"/>
        <activity android:name=".activity.sender.SenderPickUpSuccessActivity" android:screenOrientation="landscape"/>
        <activity android:name=".activity.sender.SenderDeliverAndBackActivity" android:screenOrientation="landscape"/>
        <activity android:name=".activity.sender.SenderActivity" android:screenOrientation="landscape"/>
        <activity android:name=".activity.SaveHelpActivity" android:screenOrientation="landscape"/>
        <activity android:name=".activity.SaveHandActivity" android:screenOrientation="landscape"/>
        <activity android:name=".activity.user.UserPickUpSuccessActivity" android:screenOrientation="landscape"/>

        <activity android:name=".activity.SaveAppScanActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.SenderPickUpActivity" android:screenOrientation="landscape"/>

        <activity android:name=".activity.SaveDepositActivity" android:screenOrientation="landscape">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

        <activity android:name=".activity.SaveFirstActivity" android:screenOrientation="landscape"/>

    </application>

</manifest>